body{
  background-color: ghostwhite;
  margin: 0px;
  padding: 0;
}
#Image img{
  width: 100%;
  height: 55px;
}

#menu1 {
  display: flex;
  background-color: ghostwhite;
  justify-content: center;
  align-items: center;
  height: 7px;
  margin-top: 15px;
}

#toi {
  text-align: left;
  width: 20%; 
  padding-left: 100px;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color{
  color: orange;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

li {
  float: left;
  margin-left: 50px;
 
 
}


.dhh{
  width: 100px; 
  height: 40px;
}
/* menu vendez sur jumia */
.menu2{
  display: flex;
  gap: 10px;
  font-size: 15px;
  align-items: center;
  width: 80%;
  padding-left: 300px;

}
/* petit image jumia  */
#image1 {
  background-image: url(image/aze.png);
}

/* p {
  color: orangered;
  margin-left: -250px;
} */
/* étape3 */
.moi {
  background-color: white;
  width: 1440px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
/* etage3 barre de recherche */
.moi .bloc1 {
  width: 60%;
  display: flex;

}
/* etape3 connecter */
.compte {
  display: flex;
  gap: 20px;
  

}
/* etape3 connecter les espacements icon */

a{
text-decoration: none;
color: black;

}
a:hover{
  color: orange;
}
#lo {
  width: 50%;
  height: 30px;
  margin-left: 120px;
 
}

#bnt {
  background-color: orangered;
  width: 130px;
  height: 35px;
  margin-left: 12px;
}

.you {
  background-color: orangered;

}

.menu2 .li {
  display: flex;
  word-spacing: 5px;
 
}

.jumia {
  
  background-color: white;
  height: 450px;
  width: 250px;
  margin-top: 20px;
 margin-right: 20px;
  
}
.nous{
  color:orange;

}
Nous{
  color: black;
  gap: 5px;
}
.deals:hover{
  color: blue;
}
.vous{
  color: grey;
}
#icon{
  width: 30px;
margin: 0;
padding: 0;
}

/* slideshop */

 #slider{
  width: 50%;
  height: 450px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  
 }
 
 #slide{
  width: 700px;
  height: 450px;
  display: flex;
  justify-content: center;

  
 }


.bas {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-left: 20px;
  
  

}
.gauche {
  height: 500px;
  width: 250px;
 display: flex;
  flex-wrap: wrap ;
  gap: 20px;
}
.contact{
display: flex;
flex-wrap: wrap;
background-color: white;
width: 200px;
margin-top: 20px;
padding-left: 15px;

}
.off{
  display: flex;
  align-items: center;
  gap: 10px;
}


footer{
  background-color: white;
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
#footer{
  display: flex;
  gap: 10px;
}
footer img{
  height: 110px;
  margin: 0 auto;
}

.footer2
{
  display: none;
}
.bouton2,.bouton1
{
  background-color: transparent;
  border: none;
  max-height: 50px;
  margin: auto;
}.bouton2:hover,.bouton1:hover
{
  cursor: pointer;
}
.mySlide{
  display: none;
}


@media (max-width: 1000px) {
  #Image img, #menu1, .moi .bloc1{
    display: none;
  }
  .moi{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .dhh img{
    width: 75px;
  height: 25px;
  }
 
  .bas{
    flex-direction: column;
    margin-top: 270px;
  }
  #slider img{
    width: 60%;
    height: 200px;
  }
  footer{
    width: 70%;
    margin-top: 400px;
  }
}  