body{
  background-color: ghostwhite;
  margin: 0px;
  padding: 0;
}
#Image img{
  width: 100%;
  height: 55px;
}

#menu1 {
  display: flex;
  background-color: ghostwhite;
  justify-content: center;
  align-items: center;
  height: 15px;
  margin-top: 25px;
}

.toi {

  width: 20%; 
  padding-left: 30px;
  color: orange;
  margin-bottom: 15px;
}
#etoile{
  height: 2px;
}
.color{
  color: orange;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

li {
  float: left;
  margin-left: 50px;
 }
 /* etape3 connecter */
.compte {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  font-size: 16px;
}
#aid{
  width: 60px;
  font-size: 16px;
}
#aid:hover{
     color: orange;
}
#con:hover{
  color: orange;
}#con{
  width: 110px;
  font-size: 16px;
}

.dhh{
  width: 100px; 
  height: 40px;
}
/* menu vendez sur jumia */
.menu2{
  display: flex;
  gap: 10px;
  font-size: 15px;
  align-items: center;
  width: 80%;
  padding-left: 300px;
  justify-content: center;
  margin-bottom: 20px;

}
/* petit image jumia  */
#image1 {
  background-image: url(image/aze.png);
}

/* p {
  color: orangered;
  margin-left: -250px;
} */
/* étape3 */
.moi {
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
/* etage3 barre de recherche */
.bloc1 {

  display: flex;

}

/* etape3 connecter les espacements icon */

a{
text-decoration: none;
color: black;

}
a:hover{
  color: orange;
}
#lo {
  width: 400px;
  height: 30px;
  margin-left: 120px;
 }
#bnt {
  background-color: orangered;
  width: 130px;
  height: 35px;
  margin-left: 12px;
  
}

.you {
  background-color: orangered;

}

.menu2 .li {
  display: flex;
  word-spacing: 5px;
 
}

.jumia { 
  background-color: white;
  height: 450px;
  width: 250px;
}
.nous{
  color:orange;

}
.deals:hover{
  color: blue;
}
.vous{
  color: grey;
}
#icon{
  width: 30px;
margin: 0;
padding: 0;
}

/* slideshop */
 
 #slide{
  width: 700px;
  height: 450px;
  display: flex;
  justify-content: center;

  
 }
.bas {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

}.toi a{
  display: flex;
  justify-content: center;
}
.gauche {
  height: 500px;
  width: 250px;
 display: flex;
  flex-wrap: wrap ;
  gap: 20px;
}
.contact{
display: flex;
flex-wrap: wrap;
background-color: white;
width: 200px;
padding-left: 15px;

}
.off{
  display: flex;
  align-items: center;
  gap: 10px;
}


footer{
  background-color: white;
  margin-top: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
#footer{
  display: flex;
  gap: 10px;
  
  
}
footer img{
  height: 110px;
  margin: 0 auto;
 
}

.footer2
{
  display: none;
}
.bouton2,.bouton1
{
  background-color: transparent;
  border: none;
  max-height: 50px;
  margin: auto;
}.bouton2:hover,.bouton1:hover
{
  cursor: pointer;
}
.mySlide{
  display: none;
}


@media (max-width: 1000px) {
  #Image img,.moi .bloc1, #menu1, .imgbas img,.gauche, #cool, #panier{
    display: none;
  }
  bady{
    width: 100px;
  }
  .moi{
    width: 370px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
 
  }
  .dhh img{
    width: 75px;
  height: 25px;
  margin-right: -1px;
  }
 
  .bas{
    flex-direction: column;
    margin-top: 190px;
    padding: 5px;
   display: flex;
   justify-content: center;
   
  }
  #slider img{
    width: auto;
    height: 200px;
    align-items: center;
    margin: 3px;
   gap: 5px;
   padding: 2px;
  }
  .dhh img{
   margin-top: 9px;
   width: 80px;
   margin: 8px;
  }  
  .jumia{
    display: flex;
    align-items: center;
    margin-top: -210px;
    width: 380px;
    
  }.compte{
    margin-right: 20px;
   
  }.con{
    width: 100px;
  }
  footer {
  margin-top: -20px;
  width: auto;
  margin: 0; 
  }
    footer img{
    height: 70px;
    margin: 0 auto;
   
  }.bouton2:hover,.bouton1:hover
  {
    cursor: pointer;
  }
  }
 
 